#banner, #root, #setviewer, #helptext, #footer {
    background-color:whitesmoke;
    padding: 0px 10px 0px 10px;
}

body {
    background-color:darkgray;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
				
	height: 600px;
}
			
#footer, #root {
	width: 1200px;
				
	margin: auto;
}
			
#footer {
	padding: 26px 10px 26px 10px;
	text-align: center;
}

#banner {
    width: 1200px;
    margin: auto;
}

#banner > h1 {
    float:left;
}

#banner > a {
    float:right;
    padding-top: 35px;
    color:blue;
}

#sitetitle {
    cursor:pointer;
    margin-right:20px;
}

#help {
    cursor:pointer;
    margin-right:20px;
}

#allsetsdownload {
    padding-bottom: 5px;
}
			
.leftcol {
    overflow-y: auto;
				
	display: flex;
	flex-direction: column;
}
			
#sets {
	overflow-y: auto;
				
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
				
	flex: 0 0 main-size;
}
			
#sets > a {
	display: block;
    margin: 2px 0px;
    width: 95%;
}

#sets > a:hover {
    background-color:rgb(224, 224, 224);
}

#sets > a.selected {
    background-color:rgb(204, 204, 204);
}

#sets > a.selected:hover {
    background-color:rgb(183, 183, 183);
}

#sets > a > img {
    float: left;
    margin-right: 0.2em;
}

#sets > a > .set.title {
    font-size: 0.7em;
}

#middlegroup {
    overflow-y: auto;

	margin: 0px 16px;
				
	flex: 1 0;
}

#setviewer,
#helptext {
    position: absolute;
    overflow-y: auto;
    width: 33%;
    height: 63.2%;
}

#setviewer:empty{
    height:auto;
}

#setviewer {
    z-index:5;
}

#helptext {
    z-index: 3;
}

.filepath {
    color:#FF9700;
}


/*-- Tab Stuff---*/
article.tabs
{
	position: relative;
	width: 25em;

    display:flex;
    flex-direction: column;
}

article.tabs section
{
	position: absolute;
	display: flex;
	top: 1.8em;
	left: 0;
	height: 91%;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	z-index: 0;
}

article.tabs section:first-child
{
	z-index: 1;
}

article.tabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(2) h2
{
	left: 132px;
}

article.tabs section:nth-child(3) h2
{
	left: 254px;
}

article.tabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
/*-- End tab Stuff---*/
#search {
    padding-bottom: 5px;
    padding-top: 5px;
}

#setstats {
    overflow-y: auto;
}

#setstats .set.title {
	font-weight: bold;
	font-size:1.2em;
}

.block.stats {
	border: 1px solid #ccc;
	display: inline-block;
				
	text-align: center;
				
	margin: 2px;
    padding: 5px;
}

.rightcolumn {
	width: 390px;
	overflow:none;
				
	flex: 0 0 main-size;
				
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
			
#settext > * {
	flex: 0 0;
}
			
#settextarea {
	width: 100%;
	resize: none;
				
	flex: 1;
}

/* Set Viewer */			
#setviewer .set.title {
	font-weight: bold;
	font-size:1.2em;

    float:left;
}
		
.block.container {
	border: 1px solid black;
	padding: 2px;
    clear:both;
}
			
.block.title {
	display: block;
	font-weight: bold;
	background: #ccc;
				
	margin: 1px;
	padding: 1px;
}
			
.block.itemcontainer {
	display: block;
	display: flex;
				
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
				
	margin: 1px;
}
			
.block.item {
	border: 1px solid #ccc;
	display: inline-block;
				
	text-align: center;
	font-size: 0.8em;
				
	margin: 1px;
}
				
img.item { width:32px; height:32px; }
img.champion { width:32px; height:32px; }

/* Spells */
#setviewer img.spell
{
    width:32px;
    height:32px;
    cursor:pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    float:right;
    clear:none;
}

#setviewer img.spell.active
{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}