@font-face {
    font-family: "LeagueGothic";
    src: url('font/leaguegothic-regular-webfont.eot');
    src: url('font/leaguegothic-regular-webfont.eot') format('eot'),
         url('font/leaguegothic-regular-webfont.woff') format('woff'),    /* Modern Browsers */
         url('font/leaguegothic-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('font/leaguegothic-regular-webfont.svg') format('svg');      /* Legacy iOS */
}

body
{
    background:#131313;

    background: rgb(74,74,74); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(74,74,74,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,74,74,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(74,74,74,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    margin:0;
}

#banner, #root, #setviewer, #helptext, #footer {
    background-color:whitesmoke;
    padding: 0px 10px 0px 10px;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
				
	min-height: 600px;

    padding-top:1em;
    padding-bottom:1em;
}

#root > div
{
    max-height: 600px;
}
			
#footer, #root {
	max-width: 1200px;
				
	margin: auto;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#footer {
    background:transparent;
	padding: 26px 10px 26px 10px;
	text-align: center;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
    color:#888;
}

#banner {
    max-width:1200px;
    margin: auto;

    background:#181818;
    color:rgb(153,153,153);

    font-family:'LeagueGothic', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
}

h1, h2, #allsetsdownload, #setdownload {
    font-family:'LeagueGothic', Arial, sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size:1.8em;
}

a {
    color: rgb(30,30,30);
    text-decoration:none;
    font-weight:bold;
}

#allsetsdownload {
    font-size:1.3em;
}

#banner > h1 {
}

#banner a {
    color: rgb(153,153,153);
    font-size: 1.5em;
    padding-left:2em;
}

#banner > h1:hover, #banner a:hover {
    color:#fff;
}

#banner a:active, #setdownload:hover, #helptext a:hover {
    color:#DC291E; /* red */
}

#setdownload:active, #helptext a:active {
    color:#000;
}

#setdownload {
    font-size:1.5em;
}

#banner > #controls {
    flex-grow: 2;
    text-align: end;
}

#sitetitle {
    cursor:pointer;
}

#help {
    cursor:pointer;
    margin-right:20px;
}

#banner, #sets, #setdownload, table.skills {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
			
.leftcol {
    overflow-y: auto;
				
	
    display: flex;
	flex-direction: column;
    flex-grow: 1;
    min-width: 120px;
    max-width: 225px;
}
			
#sets {
	overflow-y: auto;
				
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
				
	flex: 0 0 main-size;
}
			
#sets > a {
	display: block;
    margin: 2px 0px;
    width: 95%;
}

#sets > a:hover {
    background-color:rgb(224, 224, 224);
}

#sets > a.selected {
    background-color:rgb(204, 204, 204);
}

#sets > a.selected:hover {
    background-color:rgb(183, 183, 183);
}

#sets > a > img {
    float: left;
    margin-right: 0.2em;
}

#sets > a > .set.title {
    font-size: 0.7em;
}

#middlegroup {
    overflow-y: auto;

	margin: 0px 16px;

    flex: 1 0;
    min-width: 261px;
    /*display: flex;*/
    /*flex-grow: 2;*/
}


.filepath {
    text-wrap:none;
    display:inline-block;
    padding:0 0.2em;
    color:#DC291E;
    border:1px solid #ccc;
    border-radius:3px;
    background:#eee;
    font-family:Courier New, Courier, monospace;
    font-weight:bold;
    font-size:0.8em;
}


/*-- Tab Stuff---*/
article.tabs
{
	position: relative;
	width: 25em;

    display:flex;
    flex-direction: column;
}

article.tabs section
{
	position: absolute;
	display: flex;
	top: 1.8em;
	left: 0;
	height: 91%;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	z-index: 0;
}

article.tabs section:first-child
{
	z-index: 1;
}

article.tabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #999;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(2) h2
{
	left: 132px;
}

article.tabs section:nth-child(3) h2
{
	left: 254px;
}

article.tabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section:target,
article.tabs section:target h2
{
	color: #333;
	background-color: #fff;
	z-index: 2;
}

article.tabs section,
article.tabs section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
/*-- End tab Stuff---*/
#search {
    padding-bottom: 5px;
    padding-top: 5px;
}

#setstats {
    overflow-y: auto;
}

#setstats .set.title {
	font-weight: bold;
	font-size:1.2em;
}

.block.stats {
	border: 1px solid #ccc;
	display: inline-block;
				
	text-align: center;
				
	margin: 2px;
    padding: 5px;
}

.rightcolumn {
	min-width: 390px;
	overflow:none;

	/*flex: 0 0 main-size;*/
				
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 100px;
	/*flex-grow: 1;*/
}
			
#settext > * {
    display:block;

}

#setfilename
{
    display: block;
}

#settextarea {
    white-space:pre;

    width:390px;

    display:block;
	resize: none;
    overflow:auto;
				
	flex: 1;
}

/* Set Viewer */			
#setviewer .set.title {
    font-family:'LeagueGothic', Arial, sans-serif;
	font-size:2em;

    float:left;
}
		
.block.container {
	border: 1px solid black;
	padding: 2px;
    clear:both;
}
			
.block.title {
	display: block;
	font-weight: bold;
	background: #ccc;
				
	margin: 1px;
	padding: 1px;
}
			
.block.itemcontainer {
	display: block;
	display: flex;
				
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
				
	margin: 1px;
}
			
.block.item {
	border: 1px solid #ccc;
	display: inline-block;
				
	text-align: center;
	font-size: 0.8em;
				
	margin: 1px;
}
				
img.item { width:32px; height:32px; }
img.champion { width:32px; height:32px; }

/* Spells */
#setviewer img.summonerspell
{
    width:32px;
    height:32px;
    cursor:pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    float:right;
    clear:none;
}

#setviewer img.summonerspell.active
{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* Skills */
table.skills
{
    table-layout: fixed;
    border-collapse: collapse;

    font-size: 12px;
    display:block;
    clear:both;
    margin:1em 0;
    cursor:default;
}

table.skills td, table.skills tr
{
    height:16px;
    border:1px solid #ddd;
}

table.skills td
{
    min-width:16px;
    text-align:center;
}

table.skills td.level
{
    background-color:#DC291E;
}

table.skills img.spell
{
    width:16px;
    height:16px;
}